@charset "utf-8";

.pipi {
    color: #d613f0;
}

.classtwo {
    color: aquamarine;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#myblue {
    color: #1313f0;
}

.mybox {
 width: 100px;
 height: 200px;
 border-width: 3px;
 border-color: #92e08b;
 border-style: dotted;
background-color: #1313f0;
}

.columnbg1 {
    background-color: #92e08b;
}

.columnbg2 {
    background-color: #8c8be0;
}

.columnbg3 {
    background-color: #e0a28b;
}

.columnbg4 {
    background-color: #d2e08b;
}