/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Ojuju:wght@200..800&display=swap');


/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #30202d;
	background-color: #ffb5fe;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #de97de;
	font-family: "Anta";
	color:#ffffff
}

.resume-main {
	background-color: #ffffff;
}

.resume-aside {
	background-color: #eb99d8;
	font-family: "Ojuju"; 
	color:#440a42;
	border: 2px solid #e6bcdb;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #6a035c;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

/* Custom Styles */

.language-list li .language-progress {
	background-color: #a96e9e;	
}

.language-list li .border-info {
	border-color: #ffffff;
}